numpy
pandas
requests
beautifulsoup4
langchain-community
langchain-openai
tiktoken
faiss-cpu
sentence-transformers
Flask
Spacy
ipywidgets
evaluate
rouge_score
absl-py
bert-score
boto3
tldextract
trafilatura 