name: Deploy to AWS Amplify (Development)

on:
  push:
    branches:
      - development

  pull_request:
    types: [closed]
    branches:
      - development

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Create .env file for Frontend
        working-directory: ./frontend
        run: |
          echo "VITE_BACKEND_API_URL=${{ secrets.VITE_BACKEND_API_URL }}" >> .env.production
          echo "VITE_BACKEND_API_URL_WS=${{ secrets.VITE_BACKEND_API_URL_WS }}" >> .env.production
          
      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Install Amplify CLI
        working-directory: ./frontend
        run: npm install -g @aws-amplify/cli

      - name: Build Frontend Application
        working-directory: ./frontend
        run: npm run build  
        
      - name: Deploy to Amplify
        working-directory: ./frontend
        run: |
          amplify configure
          amplify publish --yes # Deploys the latest build to Amplify
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          
