name: Deploy to AWS Amplify (Development)

on:
  push:
    branches:
      - development

  pull_request:
    types: [closed]
    branches:
      - development

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies and Amplify CLI
        run: |
          npm install -g @aws-amplify/cli
          npm install

      - name: Create .env.production file
        run: |
          echo "VITE_BACKEND_API_URL=${{ secrets.VITE_BACKEND_API_URL }}" >> .env.production
          echo "VITE_BACKEND_API_URL_WS=${{ secrets.VITE_BACKEND_API_URL_WS }}" >> .env.production
        
      - name: Configure, Build and Deploy to Amplify
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          amplify pull \
            --appId ${{ secrets.AWS_AMPLIFY_APP_ID }} \
            --envName ${{ secrets.AWS_AMPLIFY_BRANCH_NAME }} \
            --yes
          npm run build
          amplify publish --yes
